div {
    text-align: center;
    padding-top: 90px;
  }

body {
    -webkit-animation: colorchange 10s infinite;
    animation: colorchange 10s infinite;
}

@-webkit-keyframes colorchange {

    0%  {background: gold;}
    25%  {background: plum;}
    50%  {background: skyblue;}
    75%  {background: salmon;}
    100% {background: cornflowerblue;}
}


@keyframes colorchange {
    0%  {background: forestgreen;}
    25%  {background: goldenrod;}
    50%  {background: dodgerblue;}
    75%  {background: lemonchiffon;}
    100% {background: red;}
}