.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  
  .title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .description {
    margin-bottom: 1em;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
  }
  
@media (max-width: 500px) {
    .contact {
        align-items: center;
    }
    .buttons {
        justify-content: center;
    }
    .button {
        width: 100%;
    }
}