.introduction {
    display: flex;
    width: calc(100% - 4rem);
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
  }
  
  .profileImageContainer {
    flex: 1;
    max-width: 25vw;
    min-width: 200px;
    /* height: 64px; */
    border-radius: 50%;
  }

  .profileImage {
    width: 100%;
    border-radius: 50%;
  }
  
  .name {
    font-size: 48px;
    font-weight: bold;
    color: #0D2948;
    margin-top: .5em;
    margin-bottom: 0em;
    /* margin-top: 0; */
  }
  
  .description {
    font-size: 16px;
    color: #666;
    /* Give a visual indent to the description */
    margin-left: 2em;
    margin-right: 2em;
  }

  .textContainer {
    flex: 2;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 550px;
    /* display: inline-block; */
  }

 .buttonsContainer {
    flex: 1 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-left: 2em;
 }

/* media property for when less than 500px */
@media (max-width: 500px) {
    .introduction {
        flex-direction: column;
        align-items: center;
    }
    .profileImageContainer {
        order: 1;
        padding-right: 0;
        margin-bottom: 1em;
    }
    .textContainer {
        text-align: center;
        order: 2;
    }
    .name {
        margin-top: 0;
    }
    .description {
        margin-left: 0;
    }
    .buttonsContainer {
        order: 3;
        margin-top: 1em;
        justify-content: center;
        margin-left: 0em;
    }
    .button {
        flex: 1;
    }
}

@media (min-width: 768px) {
    .introduction {
        padding: 4rem 0;
        padding-right: 8vw
    }
    .profileImageContainer {
        width: 22vw;
    }
    .name {
        font-size: 64px;
    }
    .description {
        font-size: 18px;
    }
    .buttonsOutsideTextContainer {
        display: None
    }
    .buttonsInsideTextContainer {
        justify-content: center;
        margin-top: 5vh;
    }
    .button {
        flex: 1;
        height: 50px;
    }
    .button > span {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .buttonsInsideTextContainer {
        display: None;
    }
}
  