.project {
  display: flex;
  /* margin-bottom: 2em; */
  justify-content: center;
  padding: 2rem 2rem;
}

.reverse {
  flex-direction: row-reverse;
  background-color: #f0f0f0;
}

.imageContainer {
  flex: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 400px;
}

.projectInfo {
  flex: 4;
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.projectTitle {
  margin-top: 0.3em;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.projectSubtitle {
  margin-top: 0;
  margin-left: .08em;
  font-weight: 500;
  color: #2B65AD;
}

.button {
  align-self: center;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .button > span {
      font-size: 14px;
  }
}

@media (min-width: 500px) {
  .titleAndSubtitleMobile {
      display: None;
  }
}


@media (max-width: 499px) {
  .titleAndSubtitle {
      display: None;
      order: 1;
  }
  .project {
      flex-direction: column;
      align-items: center;
  }
  .imageContainer {
      order: 2;
  }
  .projectInfo {
      order: 3;
  }
}